/* small  */
@media (min-width: 768px){
    .container{
        width: 750px;
    }
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p {
        margin-top: -20px;
    }
}
/* mid  */
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
/* large  */
@media (min-width: 1200px){
    .container{
        width: 1170px;
    }
}
@media (max-width: 767px) {
    .services .services-content .srv {
      flex-direction: column;
      text-align: center;
    }
  }
@media (max-width: 1199px) {
    .image-column {
      display: none;
    }
  }
  @media (max-width: 991px) {
    .about .about-content .image::before,
    .about .about-content .image::after {
      display: none;
    }
}
@media (max-width: 991px) {
    .about .about-content .image {
      margin: 0 auto 60px;
    }
}
@media (max-width: 991px) {
    .about .about-content {
      flex-direction: column;
      text-align: center;
    }
}
@media (max-width: 767px) {
    .contact .info .label,
    .contact .info .link {
      font-size: 25px;
    }
  }
